node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Android adaptive icon PNGs (to be ignored)
android/app/src/main/res/drawable/ic_launcher_adaptive_back.png
android/app/src/main/res/drawable/ic_launcher_adaptive_fore.png
