@import "tailwindcss";

@layer base {
  html, body {
    @apply bg-gray-50;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  #root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  @keyframes wave {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  .animate-wave {
    animation: wave 2s linear infinite;
  }
}
